aiofiles<24
numpy<2
python-ags4<1
python-multipart<1
colorlog<7
shortuuid<2
Jinja2<4
Fiona<2
Shapely<3
pyproj<4
geopandas<1
requests<3
# These libraries are already in FastAPI container but need updated
fastapi<1
uvicorn<1
h11<1
