main {
    min-height: 100%;
    margin-bottom: -100px;
}

main:after {
    content: "";
    display: block;
    height: 100px;
}

body {
    height: 100%;
    color: #002E40;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #002E40;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #AD9C70;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* Popup text style start */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    }
    
/* Popup text style start */    

/* Header style start */

.header-wrapper 
{
    background-color: #002E40;
    color: white;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
}

.header-wrapper img {
    height:48px;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 24px 16px;
    }
}

.header-wrapper a {
    color: white;
}

.header-wrapper a:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Header style end */

/* Footer style start */

.footer-wrapper 
{
    background-color: #002E40;
    color: white;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px 32px;
}

.footer-wrapper img {
    height:48px;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .footer-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 24px 16px;
    }
}

.footer-wrapper a {
    color: white;
}

.footer-wrapper a:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Footer style end */