<!-- BGS DMZ <FOOTER> INCLUDE -->
<section class="ukri">
	<a href="//nerc.ukri.org/" target="_blank" rel="noopener"><img src="//resources.bgs.ac.uk/webapps/resources/images/logos/nerc_ukri_logo.svg" alt="UKRI Natural Environment Research Council logo"></a>
</section>
<section class="links">
	<article class="useful">
		<h3>Useful links</h3>
		<p><a href="//www.bgs.ac.uk/about-bgs/">About BGS</a></p>
		<p><a href="//www.bgs.ac.uk/news/">News and Events</a></p>
		<p><a href="//www.bgs.ac.uk/about-bgs/contact-us/">Contact us</a></p>
		<p><a href="//www.bgs.ac.uk/about-bgs/contact-us/press-office/">Press Office</a></p>
	</article>
	<article class="policy">
		<h3>Policies &amp; legal</h3>
		<p><a href="//www.bgs.ac.uk/legal-and-policy/privacy/">Privacy policy</a></p>
		<p><a href="//www.bgs.ac.uk/legal-and-policy/cookies-policy/">Cookies policy</a></p>
		<p><a href="//www.bgs.ac.uk/legal-and-policy/terms-of-use/">Terms of use</a></p>
		<p><a href="//www.bgs.ac.uk/about-bgs/contact-us/freedom-of-information-act/">Freedom of information (FOI)</a></p>
		<p><a href="//www.bgs.ac.uk/bgs-intellectual-property-rights/">Intellectual Property Rights</a></p>
	</article>
	<article class="news"></article>
</section>
<section class="copy">
	<p><a href="//nerc.ukri.org/" target="_blank" rel="noopener">&copy; UKRI <em id="copyrightYear">2020</em></a></p>
	<p class="social">
		<a href="//twitter.com/BritGeoSurvey" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-twitter-white.svg" title="BGS Tweets" /></a>
		<a href="//www.facebook.com/BritishGeologicalSurvey/" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-facebook-white.svg" title="BGS on Facebook" /></a>
		<a href="//www.youtube.com/user/bgschannel" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-video-white.svg" title="BGS on YouTube" /></a>
		<a href="//www.linkedin.com/company/british-geological-survey/" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-in-white.svg" title="BGS on LinkedIn" /></a>
	</p>
</section>

