<!-- BGS DMZ <HEAD> INCLUDE -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-favicon-logo-32x32.png" sizes="32x32" />
<link rel="apple-touch-icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-favicon-logo-180x180.png" />
<link rel="icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-home-screen-150x150.png" sizes="192x192" />

<link rel="stylesheet" id="bgs-fonts-css" href="https://use.typekit.net/mvn4zqf.css?ver=1.0.2" type="text/css" media="all" />
<link rel="stylesheet" href="//resources.bgs.ac.uk/webapps/resources/css/main.css">
<link rel="stylesheet" href="//resources.bgs.ac.uk/webapps/resources/css/content.css">

<script type="text/javascript" src="//resources.bgs.ac.uk/webapps/resources/js/jquery.min.js"></script>
<script type="text/javascript" src="//resources.bgs.ac.uk/webapps/resources/js/main.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5JK56VZ');</script>
<!-- End Google Tag Manager -->
