<!-- BGS DMZ HEADER INCLUDE -->
<div id="mobileMenu">mobileMenu</div>
<section class="topnav">
	<article>
		<a href="https://www.bgs.ac.uk/hosted-websites/">Hosted sites</a>
		<a href="https://shop.bgs.ac.uk/Shop">BGS Shop</a>
		<a href="https://www.bgs.ac.uk/news/">News &amp; Events</a>
	</article>
</section>
<section class="logonav">
	<article class="logo">
		<a href="https://www.bgs.ac.uk/"><img src="//resources.bgs.ac.uk/webapps/resources/images/BGS-Logo-Pos-RGB.svg" class="logo-initial" alt="British Geological Survey Logo"></a>
	</article>
	<article class="nav">
		<img src="//resources.bgs.ac.uk/webapps/resources/images/menu-bars.svg" class="menubars" align="right" />
		<p class="About"><a href="#About">About BGS</a></p>
		<p class="Research"><a href="#Research">Research</a></p>
		<p class="Data"><a href="#Data">Data</a></p>
		<p class="DiscoGeo"><a href="#DiscoGeo">Discovering geology</a></p>
		<!-- <p class="Search"><img src="//resources.bgs.ac.uk/webapps/resources/images/search.svg" class="searchicon" /></p> -->
	</article>
	<br style="clear:both;" /><br style="clear:both;" />
</section>