<!doctype html>
<html lang="en">
  <head>
    <title>pyagsapi</title>
    <meta charset="UTF-8">
	  <link rel="stylesheet" href="{{ url_for('static', path='/css/tooltip.css') }}">
  </head>
  <body>
    <header>
		<h1>pyagsapi</h1>
	</header>
    <main>
    <div class="container">
      <div class="row">
        <div>
          <br/>
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
		<hr>
		<br>
    </main>
    <footer>
       <div>
		   Powered by <a title="pyagsapi" href="https://github.com/BritishGeologicalSurvey/pyagsapi">pyagsapi</a>. pyagsapi was created by and is maintained by the <a href="https://www.bgs.ac.uk/">British Geological Survey</a> and  is distributed under the LGPL v3.0 licence, code is available on <a title="pyagsapi" href="https://github.com/BritishGeologicalSurvey/pyagsapi">GitHub</a>. <a title="pyagsapi" href="https://github.com/BritishGeologicalSurvey/pyagsapi">pyagsapi</a> uses the <a href="https://gitlab.com/ags-data-format-wg/ags-python-library.">Official AGS Python Library</a>.
       </div>
    </footer>
    {% block extrafoot %}
    {% endblock %}
  </body>
</html>