<!doctype html>
<html lang="en">
  <head>
    <title>AGS File Utilities Tool and API</title>
	<meta name="description" content="This tool and associated API allow AGS schema validation, AGS data validation and conversion of your AGS files. The tool is supporting the development of new national data store of standardised AGS data of the subsurface that can be consulted and accessed to support decision making processes in industry and project planning. " />
	<meta name="keywords" content="BRITISH,GEOLOGY,EARTH,SCIENCE,GEOLOGICAL,SURVEY,GEOSCIENCE,OPEN, AGS, depositing, geotechnical, data, ac, validator, ags validator" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-favicon-logo-32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-favicon-logo-180x180.png" />
    <link rel="icon" href="//resources.bgs.ac.uk/webapps/resources/images/logos/cropped-BGS-home-screen-150x150.png" sizes="192x192" />

    <link rel="stylesheet" id="bgs-fonts-css" href="https://use.typekit.net/mvn4zqf.css?ver=1.0.2" type="text/css" media="all" />
    <link rel="stylesheet" href="//resources.bgs.ac.uk/webapps/resources/css/main.css">
    <link rel="stylesheet" href="//resources.bgs.ac.uk/webapps/resources/css/content.css">
	<link rel="stylesheet" href="//agsapi.bgs.ac.uk/static/css/tooltip.css">
	<link rel="stylesheet" href="/static/css/htmlView.css">
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

    <script type="text/javascript" src="//resources.bgs.ac.uk/webapps/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="//resources.bgs.ac.uk/webapps/resources/js/main.js"></script>
    <script type="text/javascript" src="/static/js/htmlView.js"></script>
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

	<!-- Google Tag Manager -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-J768KTXMCP"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-J768KTXMCP');
	</script>
	<!-- End Google Tag Manager -->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
	<style>
.collapsible {
  background-color: #cec4a9;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #97875B;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #edf3f4;
}

#map {
			width:600px;
			height: 500px;
		}

</style>
  </head>
  <body>
    <header>
		<div id="mobileMenu">mobileMenu</div>
		<section class="topnav">
			<article>
				<a href="https://www.bgs.ac.uk/hosted-websites/">Hosted sites</a>
				<a href="https://shop.bgs.ac.uk/Shop">BGS Shop</a>
				<a href="https://www.bgs.ac.uk/news/">News &amp; Events</a>
			</article>
		</section>
		<section class="logonav">
			<article class="logo">
				<a href="https://www.bgs.ac.uk/"><img src="//resources.bgs.ac.uk/webapps/resources/images/BGS-Logo-Pos-RGB.svg" class="logo-initial" alt="British Geological Survey Logo"></a>
			</article>
			<article class="nav">
				<img src="//resources.bgs.ac.uk/webapps/resources/images/menu-bars.svg" class="menubars" align="right" />
				<p class="About"><a href="#About">About BGS</a></p>
				<p class="Research"><a href="#Research">Research</a></p>
				<p class="Data"><a href="#Data">Data</a></p>
				<p class="DiscoGeo"><a href="#DiscoGeo">Discovering geology</a></p>
				<!-- <p class="Search"><img src="//resources.bgs.ac.uk/webapps/resources/images/search.svg" class="searchicon" /></p> -->
			</article>
			<br style="clear:both;" /><br style="clear:both;" />
		</section>

		<!--<section class="breadcrumbs"
			<article>
				#include file="breadCrumbs.htm"
			</article>
		</section>-->
	</header>
	<nav>
		<!-- BGS DMZ NAV INCLUDE -->
		<ul id="level2">

			<li id="ulAbout">
				<ul>
				<li><a href="https://www.bgs.ac.uk/about-bgs/">Overview</a></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/our-work/">Our work</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/">Our team</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/services/">Our data and services</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/our-facilities/">Our facilities</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/working-with-us/">Working with us</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/about-bgs/contact-us/">Contact us</a> <em>&nbsp;</em></li>
				</ul>
			</li>

			<li id="ulResearch">
				<ul>
				<li><a href="https://www.bgs.ac.uk/geological-research/">Overview</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/environmental-change/">Environmental change</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/decarbonisation/">Decarbonisation</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/multihazards/">Multihazards</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/digital-geoscience/">Digital geoscience</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/national-geoscience/">National geoscience</a></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/bgs-global/">Global geoscience</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/">Science facilities</a> <em>&nbsp;</em></li>
				</ul>
			</li>

			<li id="ulData">
				<ul>
				<li><a href="https://www.bgs.ac.uk/geological-data/">Overview</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/data/datasets/">Datasets</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/map-viewers/">Map Viewers</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/technologies/">Technologies</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/information-hub/">Information Hub</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/opengeoscience/">OpenGeoscience</a></li>
				<li><a href="https://www.bgs.ac.uk/information-hub/licensing/">Digital data licensing and resellers</a></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/">National Geological Repository</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/">National Geoscience Data Centre</a> <em>&nbsp;</em></li>
				</ul>
			</li>

			<li id="ulDiscoGeo">
				<ul>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/">Overview</a></li>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/rocks-and-minerals/">Rocks and minerals</a></li>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/">Geological processes</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/">Climate change</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/earth-hazards/">Earth hazards</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/discovering-geology/fossils-and-geological-time/">Fossils and geological time</a> <em>&nbsp;</em></li>
				<li><a href="https://www.bgs.ac.uk/maps-and-resources/">Maps and resources</a></li>
				</ul>
			</li>
		</ul>

		<!-- SUB-MENUS -->

		<!-- OUR-WORK -->
		<ul class="level3" rel="ulAbout" id="ulAbout_our-work">
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-work/annual-reports/">Annual reports</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-work/how-bgs-is-involved-with-industry/">How BGS is involved with industry</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-work/government-and-policy/">Government and policy</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-work/our-history/">Our history</a></li>
		</ul>

		<!-- OUR-TEAM -->
		<ul class="level3" rel="ulAbout" id="ulAbout_our-team">
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/staff-profiles/">Staff profiles</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/senior-management-board/">Senior Management Board</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/bgs-board/">BGS Board</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/science-advisory-committee/">Science Advisory Committee</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/our-team/equality-diversity-and-inclusion-edi/">Equality, Diversity and Inclusion (EDI)</a></li>
		</ul>

		<!-- SERVICES -->
		<ul class="level3" rel="ulAbout" id="ulAbout_services">
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/public/">General public</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/business-services/">Business services</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/business-development/">Business development</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/government/">Government and agencies</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/opengeoscience/">OpenGeoscience</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/academic-and-researchers/">Academic and researchers</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/licensing/">Digital data licensing and resellers</a></li>
			<li><a href="https://shop.bgs.ac.uk/Shop/">GeoReports and online shop</a></li>
		</ul>

		<!-- OUR-FACILITIES -->
		<ul class="level3" rel="ulAbout" id="ulAbout_our-facilities">
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/">Science facilities</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/library/">Library</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/conference-facilities/">Conference facilities</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/services/training/">Training BGS Geoschool</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/uk-geoenergy-observatories/">UK Geoenergy Observatories</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/">National Geoscience Data Centre</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/">National Geological Repository</a></li>
		</ul>

		<!-- WORKING-WITH-US -->
		<ul class="level3" rel="ulAbout" id="ulAbout_working-with-us">
			<li><a href="https://www.bgs.ac.uk/about-bgs/working-with-us/bgs-case-studies/">Careers at BGS</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/working-with-us/job-vacancies/">Job vacancies</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/working-with-us/working-at-the-bgs/">Working at the BGS</a></li>
		</ul>

		<!-- CONTACT-US -->
		<ul class="level3" rel="ulAbout" id="ulAbout_contact-us">
			<li><a href="https://www.bgs.ac.uk/about-bgs/contact-us/locations/">Offices and locations</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/contact-us/customer-feedback/">Customer feedback</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/contact-us/press-office/">Press Office</a></li>
			<li><a href="https://www.bgs.ac.uk/bgs-intellectual-property-rights/">BGS Intellectual Property Rights</a></li>
			<li><a href="https://www.bgs.ac.uk/about-bgs/contact-us/freedom-of-information-act/">Freedom of information act</a></li>
		</ul>

		<!-- GEOLOGICAL-RESEARCH -->
		<ul class="level3" rel="ulResearch" id="ulResearch_geological-research">
			<li><a href="https://www.bgs.ac.uk/information-hub/publications/">Publications</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/bufi/">BGS University Funding Initiative</a></li>
		</ul>

		<!-- ENVIRONMENTAL-CHANGE -->
		<ul class="level3" rel="ulResearch" id="ulResearch_environmental-change">
			<li><a href="https://www.bgs.ac.uk/geology-projects/groundwater-research/">Groundwater research</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/urban-geoscience/">Urban geoscience</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/sea-floor-marine-geoscience/">Sea floor: marine geoscience</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/seafloor-scientific-ocean-drilling/">Sea floor: scientific ocean drilling</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/geochemistry-and-health/">Geochemistry and health</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/environmental-geochemistry/">Centre for Environmental Geochemistry</a></li>
		</ul>

		<!-- DECARBONISATION -->
		<ul class="level3" rel="ulResearch" id="ulResearch_decarbonisation">
			<li><a href="https://www.bgs.ac.uk/geology-projects/mineral-resources/">Mineral resources</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/radioactive-waste/">Radioactive waste</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/critical-raw-materials/">Critical raw materials</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/geothermal-energy/">Geothermal energy</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/hydrocarbons-systems/">Hydrocarbons systems</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/energy-storage/">Energy storage</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/carbon-capture-and-storage/">Carbon capture and storage</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/fluid-and-rock-processes/">Fluid and Rock Processes Laboratory Cluster</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/rock-volume-cluster/">Rock Volume Characterisation Laboratory Cluster</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/uk-geoenergy-observatories/">UK Geoenergy Observatories</a></li>
		</ul>

		<!-- MULTIHAZARDS -->
		<ul class="level3" rel="ulResearch" id="ulResearch_multihazards">
			<li><a href="https://www.bgs.ac.uk/geology-projects/volcanoes/">Volcanoes</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/geomagnetism-science-capability/">Geomagnetism science capability</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/geodesy/">Geodesy and Earth Observation</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/geophysical-tomography/">Geophysical tomography</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/landslides/">Landslides research</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/shallow-geohazards/">Shallow geohazards</a></li>
		</ul>

		<!-- DIGITAL-GEOSCIENCE -->
		<ul class="level3" rel="ulResearch" id="ulResearch_digital-geoscience">
			<li><a href="https://www.bgs.ac.uk/geology-projects/digital-lab/">Digital lab</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/hazard-and-resilience-modelling/">Hazard and resilience modelling</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/digital-geoscience/3d-geology/">3D geology</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/3d-visualisation-systems/">3D visualisation systems</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/product-development/">Product development</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/systems-geology/">Systems geology</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/citizen-science/">Citizen science</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/">Data</a></li>
		</ul>

		<!-- BGS-GLOBAL -->
		<ul class="level3" rel="ulResearch" id="ulResearch_bgs-global">
			<li><a href="https://www.bgs.ac.uk/geological-research/bgs-global/official-development-assistance/">Official Development Assistance</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/bgs-global/partnerships-for-development/">Partnerships for development</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/integrated-resource-management-in-eastern-africa/">Integrated resource management in Eastern Africa</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/resilience-of-asian-cities/">Sustainable Asian Cities</a></li>
			<li><a href="https://www.bgs.ac.uk/geology-projects/global-geological-risk/">Global geological risk</a></li>
		</ul>

		<!-- SCIENCE-FACILITIES -->
		<ul class="level3" rel="ulResearch" id="ulResearch_science-facilities">
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/environmental-geochemistry/">Centre for Environmental Geochemistry</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/fluid-and-rock-processes/">Fluid and Rock Processes Laboratory Cluster</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/engineering-geotechnical-capability/">Engineering & Geotechnical Capability</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/rock-volume-cluster/">Rock Volume Characterisation Laboratory Cluster</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-research/science-facilities/marine-operations/">Marine operations</a></li>
		</ul>

		<!-- GEOLOGICAL-DATA -->
		<ul class="level3" rel="ulData" id="ulData_geological-data">
			<li><a href="https://www.bgs.ac.uk/geological-data/data-search/">Data search</a></li>
		</ul>

		<!-- DATASETS -->
		<ul class="level3" rel="ulData" id="ulData_datasets">
			<li><a href="/geological-data/datasets/?tax_topic=all&tax_purpose=all&tax_area=energy&sterm=&order=asc">Energy datasets</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/datasets/?tax_topic=all&tax_purpose=all&tax_area=geohazards&sterm=&order=asc">Geohazard datasets</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/datasets/?tax_topic=all&tax_purpose=all&tax_area=land&sterm=&order=asc">Land datasets</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/datasets/?tax_topic=all&tax_purpose=all&tax_area=sea&sterm=&order=asc">Sea datasets</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/datasets/?tax_topic=all&tax_purpose=all&tax_area=water&sterm=&order=asc">Water datasets</a></li>
		</ul>

		<!-- MAP-VIEWERS -->
		<ul class="level3" rel="ulData" id="ulData_map-viewers">
			<li><a href="https://www.bgs.ac.uk/map-viewers/geology-of-britain-viewer/">Geology of Britain viewer</a></li>
			<li><a href="https://www.bgs.ac.uk/map-viewers/geoindex-onshore/">GeoIndex (Onshore)</a></li>
			<li><a href="https://www.bgs.ac.uk/map-viewers/geoindex-offshore/">GeoIndex (Offshore)</a></li>
			<li><a href="https://www.bgs.ac.uk/map-viewers/uk-soil-observatory-ukso/">UK Soil Observatory</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/bgs-maps-portal/">BGS Maps Portal</a></li>
		</ul>

		<!-- TECHNOLOGIES -->
		<ul class="level3" rel="ulData" id="ulData_technologies">
			<li><a href="https://www.bgs.ac.uk/technologies/software/">Software</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/apps/">Mobile apps</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/web-services/">Web services</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/web-map-services-wms/">Web Map Services (WMS)</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/databases/">Databases</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/geotechnical-data-services/">Geotechnical data services</a></li>
			<li><a href="https://www.bgs.ac.uk/technologies/collaborations/">Collaborations</a></li>
		</ul>

		<!-- INFORMATION-HUB -->
		<ul class="level3" rel="ulData" id="ulData_information-hub">
			<li><a href="https://www.bgs.ac.uk/information-hub/licensing/">Digital data licensing and resellers</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/publications/">Publications</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/data-collections/">Data collections</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/dictionaries/">Dictionaries</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/bgs-maps-portal/">BGS Maps Portal</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/scanned-records/">Scanned records</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/photos-and-images/">Photos and Images</a></li>
			<li><a href="https://www.bgs.ac.uk/information-hub/borehole-records/">Borehole Records</a></li>
		</ul>

		<!-- NATIONAL-GEOLOGICAL-REPOSITORY -->
		<ul class="level3" rel="ulData" id="ulData_national-geological-repository">
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/accessing-ngr-material-collections/">Accessing NGR material collections</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/ngr-facilities/">NGR facilities</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/donations-and-loans-of-materials-collections/">Donations and loans of materials collections</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/palaeontology-collections/">Palaeontology collections</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/petrology-collections/">Petrology collections</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/borehole-core-collections/">Borehole core collections</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/hydrocarbons-database/">Hydrocarbons database</a></li>
		</ul>

		<!-- NATIONAL-GEOSCIENCE-DATA-CENTRE -->
		<ul class="level3" rel="ulData" id="ulData_national-geoscience-data-centre">
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/ngdc-depositing-data/">Deposit data with NGDC</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/ngdc-data-management/">NGDC data management</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/ngdc-cited-data/">NGDC cited data</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/national-hydrocarbons-data-archive/">National Hydrocarbons Data Archive</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geoscience-data-centre/metadata-abstract-examples/">Metadata abstract examples</a></li>
			<li><a href="https://www.bgs.ac.uk/geological-data/national-geological-repository/archives/">Archives</a></li>
		</ul>

		<!-- GEOLOGICAL-PROCESSES -->
		<ul class="level3" rel="ulDiscoGeo" id="ulDiscoGeo_geological-processes">
			<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/landforms/">Landforms</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/relief/">Relief</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/weathering/">Weathering</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/erosion/">Erosion</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/geological-processes/deposition/">Deposition</a></li>
		</ul>

		<!-- CLIMATE-CHANGE -->
		<ul class="level3" rel="ulDiscoGeo" id="ulDiscoGeo_climate-change">
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/what-causes-the-earths-climate-to-change/">What causes the Earth’s climate to change?</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/impacts-of-climate-change/">Impacts of climate change</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/the-carbon-story/">The carbon story</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/how-does-the-greenhouse-effect-work/">The greenhouse effect</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/carbon-capture-and-storage/">Understanding carbon capture and storage</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/climate-change/what-are-we-doing-about-climate-change/">What are we doing about climate change?</a></li>
		</ul>

		<!-- EARTH-HAZARDS -->
		<ul class="level3" rel="ulDiscoGeo" id="ulDiscoGeo_earth-hazards">
			<li><a href="https://www.bgs.ac.uk/discovering-geology/earth-hazards/earthquakes/">Earthquakes</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/earth-hazards/landslides/">Understanding landslides</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/earth-hazards/volcanoes/">Volcanoes</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/earth-hazards/sinkholes/">Sinkholes</a></li>
		</ul>

		<!-- FOSSILS-AND-GEOLOGICAL-TIME -->
		<ul class="level3" rel="ulDiscoGeo" id="ulDiscoGeo_fossils-and-geological-time">
			<li><a href="https://www.bgs.ac.uk/discovering-geology/fossils-and-geological-time/geological-timechart/">Geological timechart</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/fossils-and-geological-time/fossils/">Fossils</a></li>
			<li><a href="https://www.bgs.ac.uk/discovering-geology/fossils-and-geological-time/geochronology-and-stratigraphy/">Geochronology and stratigraphy</a></li>
		</ul>
	</nav>
    <main>
    <div class="container">
      <div class="row">
        <div>
          <br/>
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
		<hr>
		<br>
      <div>
            Powered by <a title="pyagsapi" href="https://github.com/BritishGeologicalSurvey/pyagsapi">pyagsapi 4.5.2</a>. pyagsapi was created by and is maintained by the <a href="https://www.bgs.ac.uk/">British Geological Survey</a> and  is distributed under the <a title="license" href="https://github.com/BritishGeologicalSurvey/pyagsapi/blob/main/LICENSE">LGPL v3.0 licence</a>, code is available on <a title="github" href="https://github.com/BritishGeologicalSurvey/pyagsapi">GitHub</a>. <a title="agspython" href="https://github.com/BritishGeologicalSurvey/pyagsapi">pyagsapi</a> uses the <a href="https://gitlab.com/ags-data-format-wg/ags-python-library.">Official AGS Python Library</a>.
        </div>
    </main>
    <footer>
        <section class="ukri">
            <a href="//nerc.ukri.org/" target="_blank" rel="noopener"><img src="//resources.bgs.ac.uk/webapps/resources/images/logos/nerc_ukri_logo.svg" alt="UKRI Natural Environment Research Council logo"></a>
        </section>
        <section class="links">
            <article class="useful">
                <h3>Useful links</h3>
                <p><a href="//www.bgs.ac.uk/about-bgs/">About BGS</a></p>
                <p><a href="//www.bgs.ac.uk/news/">News and Events</a></p>
                <p><a href="//www.bgs.ac.uk/about-bgs/contact-us/">Contact us</a></p>
                <p><a href="//www.bgs.ac.uk/about-bgs/contact-us/press-office/">Press Office</a></p>
            </article>
            <article class="policy">
                <h3>Policies &amp; legal</h3>
                <p><a href="//www.bgs.ac.uk/legal-and-policy/privacy/">Privacy policy</a></p>
                <p><a href="//www.bgs.ac.uk/legal-and-policy/cookies-policy/">Cookies policy</a></p>
                <p><a href="//www.bgs.ac.uk/legal-and-policy/terms-of-use/">Terms of use</a></p>
                <p><a href="//www.bgs.ac.uk/about-bgs/contact-us/freedom-of-information-act/">Freedom of information (FOI)</a></p>
                <p><a href="//www.bgs.ac.uk/bgs-intellectual-property-rights/">Intellectual Property Rights</a></p>
            </article>
            <article class="news"></article>
        </section>
        <section class="copy">
            <p><a href="//nerc.ukri.org/" target="_blank" rel="noopener">&copy; UKRI <em id="copyrightYear">2020</em></a></p>
            <p class="social">
                <a href="//twitter.com/BritGeoSurvey" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-twitter-white.svg" title="BGS Tweets" /></a>
                <a href="//www.facebook.com/BritishGeologicalSurvey/" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-facebook-white.svg" title="BGS on Facebook" /></a>
                <a href="//www.youtube.com/user/bgschannel" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-video-white.svg" title="BGS on YouTube" /></a>
                <a href="//www.linkedin.com/company/british-geological-survey/" target="_blank"><img align="absmiddle" src="//resources.bgs.ac.uk/webapps/resources/images/social/social-in-white.svg" title="BGS on LinkedIn" /></a>
            </p>
        </section>
    </footer>
    {% block extrafoot %}
    {% endblock %}
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.maxHeight){
		content.style.maxHeight = null;
		} else {
		content.style.maxHeight = content.scrollHeight + "px";
		}
	});
	}
	</script>
	<script type="text/javascript">

		var map = L.map('map', {
			center: [56, -5],
			zoom: 5
		});
	  
	  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
	
		var wmsLayer = L.tileLayer.wms('https://map.bgs.ac.uk/arcgis/services/AGS/AGS_Export/MapServer/WMSServer?', {
			layers: 'Boreholes',
		format: 'image/png',
		transparent: true,
		attribution: "AGS Data from British Geological Survey",
		}).addTo(map);
	
	  var drawnItems = new L.FeatureGroup();
	map.addLayer(drawnItems);
	
	var drawControl = new L.Control.Draw({
		draw: {
			polyline: false,
			circle: false,
			rectangle: false,
			marker: false,
			circlemarker: false,
			polygon: {
				allowIntersection: false,
				drawError: {
					color: '#e1e100',
					message: '<strong>Oh snap!<strong> you can\'t draw that!'
				},
				shapeOptions: {
					color: '#97009c'
				}
			}
		},
		edit: {
			featureGroup: drawnItems
		}
	});
	map.addControl(drawControl);
	
	map.on('draw:created', function (e) {
		var type = e.layerType,
			layer = e.layer;
	
		if (type === 'polygon') {
			// Do something with the polygon, e.g. add it to the map
			drawnItems.addLayer(layer);
		}
	});
	  
	map.on('click', function(e) {        
			var popLocation= e.latlng;
			var popup = L.popup()
			.setLatLng(popLocation)
			.setContent('<p>Wheres my AGS Data!!</p>')
			.openOn(map);        
		});
	  
	</script>
  </body>
</html>
