{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<br/>
<section id="identification">
    <h1>AGS4 File Utilities Tool and API</h1>
    <br>
    <p>This tool and associated <a href="/docs/">API</a> allow schema validation, data validation and conversion of your <a href="https://www.ags.org.uk/data-format/">AGS files</a>. Files are not saved or stored by this tool. Also included are links to our other AGS data related services and applications</p>
    <h2>Tools and Utilities</h2>
    <ul> 
        <li><a href="/datadiscovery/">AGS Data Discovery</a></li>
        <li><a href="/#deposit">AGS Data Submission</a></li>   
        <li><a href="/#validator">AGS Schema & Data Validator</a></li>
        <li><a href="/#converter">File Conversion .ags &#8596; .xlsx</a></li>
        <li><a href="/#openapi">API Documentation</a></li>
    </ul>
</section>
<br>
<hr>
<br>
<section id="ags_data">
  <h2>AGS Data Discovery</h2>
  <br>
  <p>Use the map below to find AGS data, click on the markers to find borehole information, links to graphical logs and the original submitted data.</p>
  <p><b>The map will show a maximum of 100 AGS markers - users may need to pan/zoom to display markers of interest. </b></p>
  <p><b>If no AGS Submission Record is shown at the link provided there is likely a legacy confidentiality restriction.</b></p>
  <br>
  <div id="mapid">
    <!-- <div id="dOpacitySliderBox">
        <div id="opacitySlider"></div>
        <div class="dOpacitySliderLabel">Transparency</div>
    </div>-->
</div>
</section> 
<br>
<br>

{% endblock %}
